<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Login Screen</h2>
        <form method=POST action="/products">
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </div></br>
        <div>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        </br>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    </body>
</html>